<?xml version="1.0"?>
<config>
    <modules>
        <Tmewes_ToggleConfigTabs>
            <version>0.1.0</version>
        </Tmewes_ToggleConfigTabs>
    </modules>
    <global>
        <models>
            <tmewes_toggleconfigtabs>
                <class>Tmewes_ToggleConfigTabs_Model</class>
                <resourceModel>tmewes_toggleconfigtabs_resource</resourceModel>
            </tmewes_toggleconfigtabs>
            <tmewes_toggleconfigtabs_resource>
                <class>Tmewes_ToggleConfigTabs_Model_Resource</class>
            </tmewes_toggleconfigtabs_resource>
        </models>
        <blocks>
            <tmewes_toggleconfigtabs>
                <class>Tmewes_ToggleConfigTabs_Block</class>
            </tmewes_toggleconfigtabs>
        </blocks>
        <helpers>
            <tmewes_toggleconfigtabs>
                <class>Tmewes_ToggleConfigTabs_Helper</class>
            </tmewes_toggleconfigtabs>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <toggleconfigtabs>
                    <file>tmewes_toggleconfigtabs.xml</file>
                </toggleconfigtabs>
            </updates>
        </layout>
        <translate>
            <modules>
                <Tmewes_ToggleConfigTabs>
                    <files>
                        <default>Tmewes_ToggleConfigTabs.csv</default>
                    </files>
                </Tmewes_ToggleConfigTabs>
            </modules>
        </translate>
    </adminhtml>
</config>